// ## Colors

// ### Primary

$Gradient: linear-gradient( to right, hsl(6, 100%, 80%),  hsl(335, 100%, 65%));

// ### Neutral

$Pale-Blue: hsl(243, 100%, 93%);
$Grayish-Blue: hsl(229, 7%, 55%);
$Dark-Blue: hsl(228, 56%, 26%);
$Dark-Blue-hover: hsl(228, 56%, 26%, 0.8);
$Very-Dark-Blue: hsl(229, 57%, 11%);
$White: #ffffff;
$Light-Gray: lightgray;
$Gold: rgb(116, 85, 6);
$Gold-bg:darkgoldenrod;
$Aqua: aqua;